<div class="apple">
  <div class="seed">
   <%= image_tag("pie.jpg") %>
  </div>
    <h1>The Pie-Hole Dialogues</h1>     
    <p>This site has been made to be a fun chat interface for friends and family
    to use without all of the "clutter" of sites like Facebook.
    </p> 
 </div>
