<footer class="footer">
	TODO: add a divider to seperate the header from the rest of the page.
	<div class="divider">
      <nav>
	<ul class="nav pull-right">
         <li class="pie"><%= link_to "Contact Us", contact_path %></li>
       </ul>
      </nav>
      </div>
</footer>  
